<ion-header>
  <ion-navbar>
    <ion-title>
      Team Statistics
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="getUpdates($event)">
    <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="dots"
    refreshingText="Updating..." color="primary">

    </ion-refresher-content>
  </ion-refresher>
  <ion-grid *ngIf="teamStats" no-padding>
    <ion-row>
      <ion-col>
        <h5>Rank</h5>
      </ion-col>
      <ion-col>
        <h5>Team</h5>
      </ion-col>
      <ion-col>
        <h5>Played</h5>
      </ion-col>
      <ion-col>
        <h5>Won</h5>
      </ion-col>
      <ion-col>
        <h5>Lost</h5>
      </ion-col>
      <ion-col>
        <h5>Points</h5>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let data of teamStats" align-items-center class="content">
      <ion-col>
        {{data.ranking}}
      </ion-col>
      <ion-col>
        {{data.team}}
      </ion-col>
      <ion-col>
        {{data.played}}
      </ion-col>
      <ion-col>
        {{data.won}}
      </ion-col>
      <ion-col>
        {{data.lost}}
      </ion-col>
      <ion-col>
        {{data.pts}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>